@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Add smooth transitions */
* {
  @apply transition-all duration-200;
}

/* Form focus styles */
input:focus {
  @apply ring-1 ring-gray-400;
}

@layer base {
  html,
  body {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}
