@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Add smooth transitions */
* {
  @apply transition-all duration-200;
}

/* Form focus styles */
input:focus {
  @apply ring-1 ring-gray-400;
}

@layer base {
  html,
  body {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
  display: inline-block;
  font-family: Arial, sans-serif;
  letter-spacing: 60px;
}
